
* {
    /* width: 100%; */
    /* height: 100%; */
    font-size: 16px;
    font-family: 'Inter';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* color: white; */
}

html, body{
    overflow-x: hidden;
}

body {
    background-color: hsl(230, 17%, 14%);
    color: white;
}

body.maroon {
    /* background-color: maroon; */
}

.light-mode-theme {
    /* color: hsl(230, 17%, 14%); */
    /* display: none; */
}



.dark-mode-theme {
    
    /* display: none; */
}

p.section-heading{
    font-size: 1.3em;
    font-weight: 700;
    margin: 30px auto 0;
}

.top-section p:last-child, .theme-mode {
    font-weight: 600;
}

.light-mode-theme .other-text {
    /* color: hsl(228, 12%, 44%); */
}

.dark-mode-theme .other-text {
    color: hsl(228, 34%, 66%);
}

.light-mode-theme .horizontal-line hr {
    /* border-top: 1px solid hsl(228, 12%, 44%) */
}

.dark-mode-theme .horizontal-line hr {
    border-top: 1px solid hsl(228, 34%, 66%);
}

.theme-switch {
    display: flex;
    justify-content: space-between;
}

.custom-switch .custom-control-label::before {
    width: 3.7em;
    height: 2em;
    border-radius: 16px;
    position: absolute;
    top: -0.15625rem;
}

.custom-switch .custom-control-input:checked ~ 
.custom-control-label::before{
  -webkit-box-shadow: none;
  box-shadow: none;
  /* border: 1px solid hsl(230, 17%, 14%); */
}

.custom-control-input:not(:disabled):active ~ 
.custom-control-label::before {
    /* -webkit-box-shadow: none;
    box-shadow: none;
    border-color: hsl(230, 17%, 14%); */
}

.custom-switch .custom-control-label::after {
    background-color: hsl(230, 17%, 14%);
    width: 23px;
    height: 23px;
    border-radius: 50%;
    top: calc(-0.15625rem + 5px);

}

html:not([dir=rtl]) .custom-switch .custom-control-label::before {
    left: -3.75rem;
}

html:not([dir=rtl]) .custom-switch .custom-control-label::after {
    left: calc(-3.75rem + 5px);
}

.custom-control-label::before {
    /* background: hsl(230, 22%, 74%); */
    background: linear-gradient(to right, hsl(210, 78%, 56%),
                 hsl(146, 68%, 55%));
    border: 0px solid
    /* padding-left: 20px; */
}

/* .custom-control-input:active~.custom-control-label::before */

.custom-control-input:checked~.custom-control-label::before {
    background: #007bff;
}

.custom-switch::before {
    /* content: "Dark Mode";
    color: hsl(228, 34%, 66%);
    position: relative;
    left: -70px;
    top: 5px;
    font-weight: 700; */
    /* pos */
}

.custom-switch .custom-control-input:checked ~ 
.custom-control-label::after {
    transform: translateX(1.63rem);
}

/* .custom-control-input:checked ~ .custom-control-label::after {
    
} */


.card {
     border: 0px solid;
}

.light-mode-theme .card {
    text-align: center;
    background-color: hsl(227, 47%, 96%);
    font-weight: 600;
}
.dark-mode-theme .card {
    text-align: center;
    background-color: hsl(228, 28%, 20%);
    font-weight: 600;
}

.card.facebook-card::before {
    content: "";
    height: 3px;
    border-radius: 5px;
    display: inline-block;
    background-color: hsl(208, 92%, 53%);
    /* border-color: hsl(208, 92%, 53%); */
}

.card.twitter-card::before {
    content: "";
    height: 3px;
    border-radius: 5px;
    display: inline-block;
    background-color: hsl(203, 89%, 53%);
    /* border-color: hsl(208, 92%, 53%); */
}

.card.instagram-card::before {
    content: "";
    height: 3px;
    border-radius: 5px;
    display: inline-block;
    background: linear-gradient(to right,#fdc468,#df4996);
    /* border-color: hsl(208, 92%, 53%); */
}

.card.youtube-card::before {
    content: "";
    height: 3px;
    border-radius: 5px;
    display: inline-block;
    background-color: hsl(348, 97%, 39%);
    /* border-color: hsl(208, 92%, 53%); */
}

.social-media {
    font-size: 2em;
}

.fab.fa-facebook-square {
    color: hsl(208, 92%, 53%);
}

.fab.fa-twitter {
    color: hsl(203, 89%, 53%);
}

i.fab.fa-instagram {
    background: linear-gradient(to right,#fdc468,#df4996); 
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;   
}

.fab.fa-youtube-square {
    color: hsl(348, 97%, 39%);
    /* border-radius: 50px; */
}

.youtube-icon {
    /* padding:30px;
    border-radius: 50%;
    background-color: yellow; */
}

span.name {
    padding-left: 10px;
    position: relative;
    bottom: 5px;
    /* letter-spacing: 1px; */
}

.year {
    font-size: 56px;
}

.followers {
    font-size: 18x;
    letter-spacing: 0.3em;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    bottom: 20px;
}

.fas.fa-caret-up, .insta-twit .date {
    color: hsl(163, 72%, 41%);
}

.fas.fa-caret-down, .youtube-date .date {
    color: hsl(356, 69%, 56%);
}

span.date {
    letter-spacing: 1px;
    padding-left: 2px;
    /* font-weight: 400; */
}

.large-screen-padding {
    max-width: 1199px;
    width: 100%;
    /* height: 80%; */
    box-sizing: border-box;
    margin: 0 auto;
}

@media only screen and (min-width: 992px) {
    .horizontal-line {
        display: none;
        /* height: 500vh; */
    }

    .theme-switch {
        display: flex;
        justify-content: flex-end;
        margin: 50px auto 0;
    }

    .theme-mode {
        position: relative;
        left: -37px;
        top: 5px;
    }
}